@import "../../styles/colors.scss";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  width: 100%;

  &-logo {
    height: 50px;
    width: 50px;
    cursor: pointer;
  }

  &-menu-list {
    list-style: none;

    display: flex;
    flex-direction: row;

    &-item {
      display: flex;
      width: 100%;
      padding: 1rem;
      cursor: pointer;

      &-link {
        position: relative;
        display: flex;
        color: white;
        text-decoration: none;
        transition: color 0.2s ease-in-out;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 2px;
          background-color: $primary;
          transform: scaleX(0);
          transition: transform 0.2s ease-in-out;
          transform-origin: bottom right;
        }

        &:hover {
          color: $primary;

          &::after {
            transform: scaleX(1);
            bottom: -7px;
            transform-origin: bottom left;
          }
        }
      }
    }
  }
}
